In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import pearsonr

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 102.csv to 102.csv

In [3]:
df=pd.read_csv("102.csv")

In [4]:
df=df.drop(['Timestamp'], axis=1)
df=df.drop(df.columns[[23,24,25]],axis=1);

In [5]:
df

,1. Your Department Name,2. What's the distance of your university from home? (in km),3. Where do you live?,4. What kind of transport do you use for going to university?,5. What is the average time you usually spend while travelling to and from your university?,6. What is your current semester?,7. Your current CGPA?,8. What is your target CGPA after under-graduation?,9. Your average daily study duration in hours?,10. Your target daily study duration in hours?,...,14. How much time do you think you should invest for doing your co/extra-curricular activities? (in hours per week),15. How many events did you participate related to those activities in your university life ?,16. Name your co/extra-curricular achievements,17. How many classes do you miss per semester? (average),18. How many times are you able to take meals on the days you have classes?,19. How many hours of sleep do you get? (per day),20. How much free time do you get per day? (average),"21. Maximum amount of free time you get at once per day? (Example: If you get 1 hour of free time in the morning and 2 hours in the night, the answer will be 2 hours)","22. Do you think, you are falling behind because of losing the study hours?",23. What new things did you learn this week?
0,IIT,5km - 7km,With Family,University bus,less than 1 hour,6,3.85 - 4.00,3.85 - 4.00,2 - 3 hours,3 - 4 hours,...,3 - 5 hours,5-7,"Hackathon, gaming, cricket",1-3,2,5 - 6 hours,4-5 hours,1 hour,Disagree,Patience thakle life e valo kichu ashe
1,Petroleum and Mining Engineering,1km - 3km,With Family,Private Car,less than 1 hour,1,3.70 - 3.85,3.85 - 4.00,2 - 3 hours,5 - 6 hours,...,5 - 7 hours,None,"Gaming,Robotics",1-3,2,5 - 6 hours,2-3 hours,2-3 hours,Agree,.Learn Something new about coding& Higher Study
2,IIT,1km - 3km,Mess,Rickshaw,less than 30 minutes,8,3.55 - 3.70,3.55 - 3.70,less than 1 hour,2 - 3 hours,...,5 - 7 hours,more than 10,None,more than 15,2,7 - 8 hours,1-2 hours,1 hour,Strongly disagree,Nothing
3,CSE,less than 1km,Mess,Walking,less than 30 minutes,1,3.85 - 4.00,3.85 - 4.00,2 - 3 hours,more than 6 hours,...,3 - 5 hours,1-3,AIUB competitive programmer's community,None,2,4 - 5 hours,1-2 hours,3-4 hours,Strongly agree,Programming
4,IIT,7km - 9km,With Family,University bus,less than 2 hours,8,3.55 - 3.70,3.70 - 3.85,3 - 4 hours,4 - 5 hours,...,5 - 7 hours,more than 10,"Achievement in programming contests, hackathon...",4-6,2,6 - 7 hours,less than 30 minutes,1 hour,Strongly agree,"Bunch of things, can't specifically remember"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,IIT,less than 1km,Hall,Rickshaw,less than 1 hour,2,3.85 - 4.00,3.85 - 4.00,1 - 2 hours,4 - 5 hours,...,less than 1 hour,1-3,Good Speaker,1-3,3,7 - 8 hours,3-4 hours,2-3 hours,Strongly agree,Some Basics of programming
98,Architecture,5km - 7km,With Family,University bus,less than 1 hour,7,3.55 - 3.70,3.70 - 3.85,1 - 2 hours,3 - 4 hours,...,less than 1 hour,None,"Blender 3D modeling, Illustration",1-3,3,4 - 5 hours,1-2 hours,1 hour,Disagree,"Lumion, Maya, Rhino 3D"
99,EEE,1km - 3km,Hall,Walking,less than 30 minutes,6,3.85 - 4.00,3.85 - 4.00,2 - 3 hours,4 - 5 hours,...,5 - 7 hours,3-5,None,4-6,3,5 - 6 hours,1-2 hours,less than 30 minutes,Agree,Nothing
100,IIT,less than 1km,Hall,Walking,less than 30 minutes,4,3.85 - 4.00,3.70 - 3.85,1 - 2 hours,2 - 3 hours,...,less than 1 hour,1-3,"Programming competition, Hackathon",1-3,2,4 - 5 hours,less than 30 minutes,1 hour,Neutral,B+ tree
101,IIT,more than 9km,Hall,Walking,less than 30 minutes,2,3.40 - 3.55,3.85 - 4.00,more than 5 hours,more than 6 hours,...,1 - 3 hours,1-3,None,1-3,2,7 - 8 hours,1-2 hours,1 hour,Agree,How to have more patience

In [6]:
df=df.set_axis(['Major', 'Distance', 'Living Place', 'Mode of transport',
       'Commute Time', 'Semester', 'CGPA', 'Expected CGPA', 'Study duration',
       'Target Study duration', 'co-curricular count',
       'extra-curricular count', 'extra/co-curricular time',
       ' Target extra/co-curricular time ', 'Event Participation Count',
       'Achievement Count', 'Missed Classes', 'Number of Meals',
       'Sleep Duration', 'Average free time',
       'Longest continuous window of free time','Falling Behind',
       'New things learnt'],axis=1, inplace=False);

In [7]:
df

,Major,Distance,Living Place,Mode of transport,Commute Time,Semester,CGPA,Expected CGPA,Study duration,Target Study duration,...,Target extra/co-curricular time,Event Participation Count,Achievement Count,Missed Classes,Number of Meals,Sleep Duration,Average free time,Longest continuous window of free time,Falling Behind,New things learnt
0,IIT,5km - 7km,With Family,University bus,less than 1 hour,6,3.85 - 4.00,3.85 - 4.00,2 - 3 hours,3 - 4 hours,...,3 - 5 hours,5-7,"Hackathon, gaming, cricket",1-3,2,5 - 6 hours,4-5 hours,1 hour,Disagree,Patience thakle life e valo kichu ashe
1,Petroleum and Mining Engineering,1km - 3km,With Family,Private Car,less than 1 hour,1,3.70 - 3.85,3.85 - 4.00,2 - 3 hours,5 - 6 hours,...,5 - 7 hours,None,"Gaming,Robotics",1-3,2,5 - 6 hours,2-3 hours,2-3 hours,Agree,.Learn Something new about coding& Higher Study
2,IIT,1km - 3km,Mess,Rickshaw,less than 30 minutes,8,3.55 - 3.70,3.55 - 3.70,less than 1 hour,2 - 3 hours,...,5 - 7 hours,more than 10,None,more than 15,2,7 - 8 hours,1-2 hours,1 hour,Strongly disagree,Nothing
3,CSE,less than 1km,Mess,Walking,less than 30 minutes,1,3.85 - 4.00,3.85 - 4.00,2 - 3 hours,more than 6 hours,...,3 - 5 hours,1-3,AIUB competitive programmer's community,None,2,4 - 5 hours,1-2 hours,3-4 hours,Strongly agree,Programming
4,IIT,7km - 9km,With Family,University bus,less than 2 hours,8,3.55 - 3.70,3.70 - 3.85,3 - 4 hours,4 - 5 hours,...,5 - 7 hours,more than 10,"Achievement in programming contests, hackathon...",4-6,2,6 - 7 hours,less than 30 minutes,1 hour,Strongly agree,"Bunch of things, can't specifically remember"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,IIT,less than 1km,Hall,Rickshaw,less than 1 hour,2,3.85 - 4.00,3.85 - 4.00,1 - 2 hours,4 - 5 hours,...,less than 1 hour,1-3,Good Speaker,1-3,3,7 - 8 hours,3-4 hours,2-3 hours,Strongly agree,Some Basics of programming
98,Architecture,5km - 7km,With Family,University bus,less than 1 hour,7,3.55 - 3.70,3.70 - 3.85,1 - 2 hours,3 - 4 hours,...,less than 1 hour,None,"Blender 3D modeling, Illustration",1-3,3,4 - 5 hours,1-2 hours,1 hour,Disagree,"Lumion, Maya, Rhino 3D"
99,EEE,1km - 3km,Hall,Walking,less than 30 minutes,6,3.85 - 4.00,3.85 - 4.00,2 - 3 hours,4 - 5 hours,...,5 - 7 hours,3-5,None,4-6,3,5 - 6 hours,1-2 hours,less than 30 minutes,Agree,Nothing
100,IIT,less than 1km,Hall,Walking,less than 30 minutes,4,3.85 - 4.00,3.70 - 3.85,1 - 2 hours,2 - 3 hours,...,less than 1 hour,1-3,"Programming competition, Hackathon",1-3,2,4 - 5 hours,less than 30 minutes,1 hour,Neutral,B+ tree
101,IIT,more than 9km,Hall,Walking,less than 30 minutes,2,3.40 - 3.55,3.85 - 4.00,more than 5 hours,more than 6 hours,...,1 - 3 hours,1-3,None,1-3,2,7 - 8 hours,1-2 hours,1 hour,Agree,How to have more patience

# Chi2Test
Finding correlation between two variables
Null Hypothesis: The two variables do not have any correlation
if P-value < .05 we can reject the null hypothesis

In [8]:
CommuteTime_AverageFreeTime=pd.crosstab(df["Commute Time"],df["Average free time"])

In [9]:
CommuteTime_AverageFreeTime

Average free time,1-2 hours,2-3 hours,3-4 hours,4-5 hours,less than 30 minutes,more than 5 hours
Commute Time,,,,,,
less than 1 hour,10,4,3,4,2,3
less than 2 hours,5,4,4,0,3,1
less than 30 minutes,21,7,4,4,2,2
more than 2 hours,9,5,1,0,3,1

In [10]:
chi2_contingency(CommuteTime_AverageFreeTime)

(14.282726527858106,
 0.5042036203466387,
 15,
 array([[11.47058824,  5.09803922,  3.05882353,  2.03921569,  2.54901961,
          1.78431373],
        [ 7.5       ,  3.33333333,  2.        ,  1.33333333,  1.66666667,
          1.16666667],
        [17.64705882,  7.84313725,  4.70588235,  3.1372549 ,  3.92156863,
          2.74509804],
        [ 8.38235294,  3.7254902 ,  2.23529412,  1.49019608,  1.8627451 ,
          1.30392157]]))

In [11]:
gpaCom=pd.crosstab(df["Commute Time"],df["CGPA"]);

In [12]:
gpaCom

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Commute Time,,,,,,,
less than 1 hour,2,3,7,4,2,5,3
less than 2 hours,0,0,2,8,4,2,1
less than 30 minutes,3,4,3,10,8,7,5
more than 2 hours,2,2,3,5,3,2,2

In [13]:
chi2_contingency(gpaCom)

(14.855405860264607,
 0.6718704543261871,
 18,
 array([[ 1.78431373,  2.29411765,  3.82352941,  6.88235294,  4.33333333,
          4.07843137,  2.80392157],
        [ 1.16666667,  1.5       ,  2.5       ,  4.5       ,  2.83333333,
          2.66666667,  1.83333333],
        [ 2.74509804,  3.52941176,  5.88235294, 10.58823529,  6.66666667,
          6.2745098 ,  4.31372549],
        [ 1.30392157,  1.67647059,  2.79411765,  5.02941176,  3.16666667,
          2.98039216,  2.04901961]]))

In [14]:
studayDurationGPA=pd.crosstab(df["Study duration"],df["CGPA"]);

In [15]:
studayDurationGPA

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Study duration,,,,,,,
1 - 2 hours,2,2,6,9,9,8,4
2 - 3 hours,2,1,1,0,3,4,1
3 - 4 hours,0,0,1,3,1,0,3
4 - 5 hours,0,1,1,0,1,0,0
less than 1 hour,3,5,4,13,3,3,3
more than 5 hours,0,0,2,2,0,1,0

In [16]:
chi2_contingency(studayDurationGPA)

(34.52256790595026,
 0.26042605566191257,
 30,
 array([[ 2.74509804,  3.52941176,  5.88235294, 10.58823529,  6.66666667,
          6.2745098 ,  4.31372549],
        [ 0.82352941,  1.05882353,  1.76470588,  3.17647059,  2.        ,
          1.88235294,  1.29411765],
        [ 0.54901961,  0.70588235,  1.17647059,  2.11764706,  1.33333333,
          1.25490196,  0.8627451 ],
        [ 0.20588235,  0.26470588,  0.44117647,  0.79411765,  0.5       ,
          0.47058824,  0.32352941],
        [ 2.33333333,  3.        ,  5.        ,  9.        ,  5.66666667,
          5.33333333,  3.66666667],
        [ 0.34313725,  0.44117647,  0.73529412,  1.32352941,  0.83333333,
          0.78431373,  0.53921569]]))

In [17]:
commuteMeal=pd.crosstab(df["Commute Time"],df["Number of Meals"])

In [18]:
commuteMeal

Number of Meals       1   2   3  4
Commute Time
less than 1 hour      7   9  10  0
less than 2 hours     2   8   5  2
less than 30 minutes  7  17  14  2
more than 2 hours     9   5   5  0

In [19]:
chi2_contingency(commuteMeal)

(12.520041878102845,
 0.18555312290497797,
 9,
 array([[ 6.37254902,  9.94117647,  8.66666667,  1.01960784],
        [ 4.16666667,  6.5       ,  5.66666667,  0.66666667],
        [ 9.80392157, 15.29411765, 13.33333333,  1.56862745],
        [ 4.65686275,  7.26470588,  6.33333333,  0.74509804]]))

In [20]:
commuteTimecoCurrCount=pd.crosstab(df["Commute Time"],df["co-curricular count"])

In [21]:
commuteTimecoCurrCount

co-curricular count    1   2  3  4  None  more than 5
Commute Time
less than 1 hour       5   6  3  4     8            0
less than 2 hours      4   2  4  2     5            0
less than 30 minutes  10  14  3  1    10            2
more than 2 hours      6   5  0  1     7            0

In [22]:
chi2_contingency(commuteTimecoCurrCount)

(16.29451023391813,
 0.3627529602337028,
 15,
 array([[ 6.37254902,  6.88235294,  2.54901961,  2.03921569,  7.64705882,
          0.50980392],
        [ 4.16666667,  4.5       ,  1.66666667,  1.33333333,  5.        ,
          0.33333333],
        [ 9.80392157, 10.58823529,  3.92156863,  3.1372549 , 11.76470588,
          0.78431373],
        [ 4.65686275,  5.02941176,  1.8627451 ,  1.49019608,  5.58823529,
          0.37254902]]))

In [23]:
# d5=pd.crosstab(df["Sleep Duration"],df["CGPA"])
# d5
# df["Sleep Duration"]=df["Sleep Duration"].map({"3 - 4 hours": 1,"4 - 5 hours": 2,"5 - 6 hours": 3,"6 - 7 hours": 4,"7 - 8 hours": 5,"more than 8 hours": 6 });

In [24]:
# df["CGPA"]=df["CGPA"].map({"< 3.00": 30,"3.00 - 3.25":40,"3.25 - 3.40":50,"3.40 - 3.55":60,"3.55 - 3.70":70,"3.70 - 3.85":90,"3.85 - 4.00":100})

In [25]:
# df["CGPA"]=df["CGPA"]*df["Semester"];
# df["CGPA"];

In [26]:
# def norm(x):
#   if x>(30+840)/2:
#     x=2;
#   else:
#     x=1;
#   return x;

In [27]:
# df["CGPA"]=df["CGPA"].map(norm);

In [28]:
# df["CGPA"]=df["CGPA"].map({"< 3.00": 1,"3.00 - 3.25":1,"3.25 - 3.40":1,"3.40 - 3.55":1,"3.55 - 3.70":2,"3.70 - 3.85":2,"3.85 - 4.00":2})

In [29]:
# a,b=pearsonr(df["Sleep Duration"],df["CGPA"]);

In [30]:
commuteTimeExCurrCount=pd.crosstab(df["Commute Time"],df["extra-curricular count"])

In [31]:
commuteTimeExCurrCount

extra-curricular count  1   2  3  4  5  None  more than 5
Commute Time
less than 1 hour        3   4  3  5  0    10            1
less than 2 hours       3   2  3  2  1     6            0
less than 30 minutes    8  12  2  3  0    13            2
more than 2 hours       8   2  2  0  1     6            0

In [32]:
chi2_contingency(commuteTimeExCurrCount)

(21.074607234870392,
 0.27566574975022495,
 18,
 array([[ 5.60784314,  5.09803922,  2.54901961,  2.54901961,  0.50980392,
          8.92156863,  0.76470588],
        [ 3.66666667,  3.33333333,  1.66666667,  1.66666667,  0.33333333,
          5.83333333,  0.5       ],
        [ 8.62745098,  7.84313725,  3.92156863,  3.92156863,  0.78431373,
         13.7254902 ,  1.17647059],
        [ 4.09803922,  3.7254902 ,  1.8627451 ,  1.8627451 ,  0.37254902,
          6.51960784,  0.55882353]]))

In [33]:
sleepDurationCGPA=pd.crosstab(df["Sleep Duration"],df["CGPA"]);

In [34]:
sleepDurationCGPA

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Sleep Duration,,,,,,,
3 - 4 hours,0,1,1,1,1,1,1
4 - 5 hours,2,1,7,9,3,4,2
5 - 6 hours,1,5,3,8,8,4,2
6 - 7 hours,1,1,1,6,5,4,3
7 - 8 hours,1,1,2,2,0,3,2
more than 8 hours,2,0,1,1,0,0,1

In [35]:
chi2_contingency(sleepDurationCGPA)

(28.152167155525973,
 0.5623732334279303,
 30,
 array([[0.41176471, 0.52941176, 0.88235294, 1.58823529, 1.        ,
         0.94117647, 0.64705882],
        [1.92156863, 2.47058824, 4.11764706, 7.41176471, 4.66666667,
         4.39215686, 3.01960784],
        [2.12745098, 2.73529412, 4.55882353, 8.20588235, 5.16666667,
         4.8627451 , 3.34313725],
        [1.44117647, 1.85294118, 3.08823529, 5.55882353, 3.5       ,
         3.29411765, 2.26470588],
        [0.75490196, 0.97058824, 1.61764706, 2.91176471, 1.83333333,
         1.7254902 , 1.18627451],
        [0.34313725, 0.44117647, 0.73529412, 1.32352941, 0.83333333,
         0.78431373, 0.53921569]]))

In [36]:
missedClassesCG=pd.crosstab(df["Missed Classes"],df["CGPA"]);
missedClassesCG

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Missed Classes,,,,,,,
1-3,2,4,9,9,8,7,7
10-12,2,2,0,4,0,0,0
13-15,0,1,0,2,0,0,0
4-6,0,1,5,5,5,3,1
7-9,0,1,0,3,2,3,1
None,1,0,0,1,2,3,1
more than 15,2,0,1,3,0,0,1

In [37]:
print(chi2_contingency(missedClassesCG));

(43.49778070373955, 0.18241715803957526, 36, array([[ 3.15686275,  4.05882353,  6.76470588, 12.17647059,  7.66666667,
         7.21568627,  4.96078431],
       [ 0.54901961,  0.70588235,  1.17647059,  2.11764706,  1.33333333,
         1.25490196,  0.8627451 ],
       [ 0.20588235,  0.26470588,  0.44117647,  0.79411765,  0.5       ,
         0.47058824,  0.32352941],
       [ 1.37254902,  1.76470588,  2.94117647,  5.29411765,  3.33333333,
         3.1372549 ,  2.15686275],
       [ 0.68627451,  0.88235294,  1.47058824,  2.64705882,  1.66666667,
         1.56862745,  1.07843137],
       [ 0.54901961,  0.70588235,  1.17647059,  2.11764706,  1.33333333,
         1.25490196,  0.8627451 ],
       [ 0.48039216,  0.61764706,  1.02941176,  1.85294118,  1.16666667,
         1.09803922,  0.75490196]]))

In [38]:
transCGPA=pd.crosstab(df["Mode of transport"],df["CGPA"]);

In [39]:
transCGPA

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Mode of transport,,,,,,,
Cycle,0,0,2,0,1,1,0
Private Car,0,0,0,3,4,2,0
Public bus,0,0,0,7,1,2,2
Rickshaw,0,4,0,3,1,3,1
University bus,4,3,6,7,7,3,5
Walking,3,2,7,7,3,5,3

In [40]:
print(chi2_contingency(transCGPA))

(41.887026558097986, 0.07318256418989845, 30, array([[0.2745098 , 0.35294118, 0.58823529, 1.05882353, 0.66666667,
        0.62745098, 0.43137255],
       [0.61764706, 0.79411765, 1.32352941, 2.38235294, 1.5       ,
        1.41176471, 0.97058824],
       [0.82352941, 1.05882353, 1.76470588, 3.17647059, 2.        ,
        1.88235294, 1.29411765],
       [0.82352941, 1.05882353, 1.76470588, 3.17647059, 2.        ,
        1.88235294, 1.29411765],
       [2.40196078, 3.08823529, 5.14705882, 9.26470588, 5.83333333,
        5.49019608, 3.7745098 ],
       [2.05882353, 2.64705882, 4.41176471, 7.94117647, 5.        ,
        4.70588235, 3.23529412]]))

In [41]:
commuteTimeSleepDuration=pd.crosstab(df["Commute Time"],df["Sleep Duration"]);

In [42]:
commuteTimeSleepDuration

Sleep Duration,3 - 4 hours,4 - 5 hours,5 - 6 hours,6 - 7 hours,7 - 8 hours,more than 8 hours
Commute Time,,,,,,
less than 1 hour,2,6,6,6,2,4
less than 2 hours,2,6,4,4,1,0
less than 30 minutes,1,8,17,8,6,0
more than 2 hours,1,8,4,3,2,1

In [43]:
print(chi2_contingency(commuteTimeSleepDuration))

(18.254645142633258, 0.24951486887836363, 15, array([[ 1.52941176,  7.1372549 ,  7.90196078,  5.35294118,  2.80392157,
         1.2745098 ],
       [ 1.        ,  4.66666667,  5.16666667,  3.5       ,  1.83333333,
         0.83333333],
       [ 2.35294118, 10.98039216, 12.15686275,  8.23529412,  4.31372549,
         1.96078431],
       [ 1.11764706,  5.21568627,  5.7745098 ,  3.91176471,  2.04901961,
         0.93137255]]))

In [44]:
Commute_extracoTime=pd.crosstab(df["Commute Time"],df["extra/co-curricular time"]);

In [45]:
Commute_extracoTime

extra/co-curricular time,1 - 3 hours,3 - 5 hours,5 - 7 hours,7 - 9 hours,None,less than 1 hour,more than 9 hours
Commute Time,,,,,,,
less than 1 hour,4,3,2,0,8,5,4
less than 2 hours,5,1,2,0,5,3,1
less than 30 minutes,7,10,2,1,6,11,3
more than 2 hours,7,2,1,0,5,4,0

In [46]:
print(chi2_contingency(Commute_extracoTime))

(15.781600479040408, 0.6077863453380232, 18, array([[5.8627451 , 4.07843137, 1.78431373, 0.25490196, 6.11764706,
        5.8627451 , 2.03921569],
       [3.83333333, 2.66666667, 1.16666667, 0.16666667, 4.        ,
        3.83333333, 1.33333333],
       [9.01960784, 6.2745098 , 2.74509804, 0.39215686, 9.41176471,
        9.01960784, 3.1372549 ],
       [4.28431373, 2.98039216, 1.30392157, 0.18627451, 4.47058824,
        4.28431373, 1.49019608]]))

In [47]:
commuteTime_extraCurrCount=pd.crosstab(df["Commute Time"],df["extra-curricular count"]);

In [48]:
commuteTime_extraCurrCount

extra-curricular count  1   2  3  4  5  None  more than 5
Commute Time
less than 1 hour        3   4  3  5  0    10            1
less than 2 hours       3   2  3  2  1     6            0
less than 30 minutes    8  12  2  3  0    13            2
more than 2 hours       8   2  2  0  1     6            0

In [49]:
print(chi2_contingency(commuteTime_extraCurrCount))

(21.074607234870392, 0.27566574975022495, 18, array([[ 5.60784314,  5.09803922,  2.54901961,  2.54901961,  0.50980392,
         8.92156863,  0.76470588],
       [ 3.66666667,  3.33333333,  1.66666667,  1.66666667,  0.33333333,
         5.83333333,  0.5       ],
       [ 8.62745098,  7.84313725,  3.92156863,  3.92156863,  0.78431373,
        13.7254902 ,  1.17647059],
       [ 4.09803922,  3.7254902 ,  1.8627451 ,  1.8627451 ,  0.37254902,
         6.51960784,  0.55882353]]))

In [50]:
consfreeTimeCGPA=pd.crosstab(df['Longest continuous window of free time'],df["CGPA"]);
consfreeTimeCGPA

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Longest continuous window of free time,,,,,,,
1 hour,1,1,5,6,5,7,2
2-3 hours,3,3,3,13,7,4,5
3-4 hours,1,2,0,2,1,2,2
4-5 hours,1,2,2,2,2,2,0
less than 30 minutes,0,0,4,2,0,1,1
more than 5 hours,1,1,1,2,2,0,1

In [51]:
print(chi2_contingency(consfreeTimeCGPA));

(25.59403182303402, 0.6956808858559361, 30, array([[ 1.85294118,  2.38235294,  3.97058824,  7.14705882,  4.5       ,
         4.23529412,  2.91176471],
       [ 2.60784314,  3.35294118,  5.58823529, 10.05882353,  6.33333333,
         5.96078431,  4.09803922],
       [ 0.68627451,  0.88235294,  1.47058824,  2.64705882,  1.66666667,
         1.56862745,  1.07843137],
       [ 0.75490196,  0.97058824,  1.61764706,  2.91176471,  1.83333333,
         1.7254902 ,  1.18627451],
       [ 0.54901961,  0.70588235,  1.17647059,  2.11764706,  1.33333333,
         1.25490196,  0.8627451 ],
       [ 0.54901961,  0.70588235,  1.17647059,  2.11764706,  1.33333333,
         1.25490196,  0.8627451 ]]))

In [52]:
behindCGPA=pd.crosstab(df['Falling Behind'],df["CGPA"]);
behindCGPA

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Falling Behind,,,,,,,
Agree,2,2,6,8,8,4,5
Disagree,0,1,1,4,1,3,1
Neutral,1,2,3,6,5,3,2
Strongly agree,4,4,5,8,2,6,3
Strongly disagree,0,0,0,1,1,0,0

In [53]:
print(chi2_contingency(behindCGPA));

(13.15745234112929, 0.9634543963795318, 24, array([[2.40196078, 3.08823529, 5.14705882, 9.26470588, 5.83333333,
        5.49019608, 3.7745098 ],
       [0.75490196, 0.97058824, 1.61764706, 2.91176471, 1.83333333,
        1.7254902 , 1.18627451],
       [1.50980392, 1.94117647, 3.23529412, 5.82352941, 3.66666667,
        3.45098039, 2.37254902],
       [2.19607843, 2.82352941, 4.70588235, 8.47058824, 5.33333333,
        5.01960784, 3.45098039],
       [0.1372549 , 0.17647059, 0.29411765, 0.52941176, 0.33333333,
        0.31372549, 0.21568627]]))

In [54]:
CommuteFallingBehind=pd.crosstab(df['Falling Behind'],df["Commute Time"]);
CommuteFallingBehind

Commute Time,less than 1 hour,less than 2 hours,less than 30 minutes,more than 2 hours
Falling Behind,,,,
Agree,7,6,16,6
Disagree,5,0,6,0
Neutral,5,6,8,3
Strongly agree,9,5,8,10
Strongly disagree,0,0,2,0

In [55]:
print(chi2_contingency(CommuteFallingBehind));

(16.58318990220306, 0.1659602386814319, 12, array([[ 8.92156863,  5.83333333, 13.7254902 ,  6.51960784],
       [ 2.80392157,  1.83333333,  4.31372549,  2.04901961],
       [ 5.60784314,  3.66666667,  8.62745098,  4.09803922],
       [ 8.15686275,  5.33333333, 12.54901961,  5.96078431],
       [ 0.50980392,  0.33333333,  0.78431373,  0.37254902]]))

In [56]:
livingCGPA=pd.crosstab(df['Living Place'],df['CGPA'])
livingCGPA

CGPA,3.00 - 3.25,3.25 - 3.40,3.40 - 3.55,3.55 - 3.70,3.70 - 3.85,3.85 - 4.00,< 3.00
Living Place,,,,,,,
Hall,3,3,5,9,4,5,2
Mess,0,2,1,1,2,5,2
With Family,4,4,9,17,11,6,7

In [57]:
print(chi2_contingency(livingCGPA))

(11.344172444784236, 0.4996759105088061, 12, array([[ 2.12745098,  2.73529412,  4.55882353,  8.20588235,  5.16666667,
         4.8627451 ,  3.34313725],
       [ 0.89215686,  1.14705882,  1.91176471,  3.44117647,  2.16666667,
         2.03921569,  1.40196078],
       [ 3.98039216,  5.11764706,  8.52941176, 15.35294118,  9.66666667,
         9.09803922,  6.25490196]]))

# Clustered Chi Square

In [58]:
df2=df.copy()

In [59]:
df2['CGPA']=df2['CGPA'].map({"< 3.00": "< 3.55","3.00 - 3.25":"< 3.55","3.25 - 3.40":"< 3.55","3.40 - 3.55":"< 3.55","3.55 - 3.70":"> 3.55","3.70 - 3.85":"> 3.55","3.85 - 4.00":"> 3.55"})

In [60]:
df2['Commute Time']=df2['Commute Time'].map({ "less than 1 hour" : "< 1 hour", "less than 2 hours" : "> 1 hour","less than 30 minutes" : "< 1 hour", "more than 2 hours" : "> 1 hour"})

In [61]:
df2['Falling Behind']=df2['Falling Behind'].map({ "Strongly disagree": "disagree","Strongly disagree": "Disagree","Disagree": "Disagree","Neutral": "Neutral","Agree": "Agree","Strongly agree": "Agree"})

In [62]:
sleepDurationCGPA2=pd.crosstab(df2["Sleep Duration"],df2["CGPA"]);

In [63]:
sleepDurationCGPA2

CGPA               < 3.55  > 3.55
Sleep Duration
3 - 4 hours             3       3
4 - 5 hours            12      16
5 - 6 hours            11      20
6 - 7 hours             6      15
7 - 8 hours             6       5
more than 8 hours       4       1

In [64]:
chi2_contingency(sleepDurationCGPA2)

(5.940924651385481, 0.3120097225626532, 5, array([[ 2.47058824,  3.52941176],
        [11.52941176, 16.47058824],
        [12.76470588, 18.23529412],
        [ 8.64705882, 12.35294118],
        [ 4.52941176,  6.47058824],
        [ 2.05882353,  2.94117647]]))

# Sub Goal 1
Determining whether the distance between their educational institution affects their confidence and perception about their opportunities.

In [65]:
perceptionCommuteTime=pd.crosstab(df2["Commute Time"],df2["Falling Behind"])

In [66]:
perceptionCommuteTime

Falling Behind  Agree  Disagree  Neutral
Commute Time
< 1 hour           40        13       13
> 1 hour           27         0        9

In [67]:
print(chi2_contingency(perceptionCommuteTime));

(8.129363513013445, 0.017168452152480904, 2, array([[43.35294118,  8.41176471, 14.23529412],
       [23.64705882,  4.58823529,  7.76470588]]))

#Sub Goal 2
Determining if there is a correlation between their confidence and achievements.

In [68]:
resultPerception=pd.crosstab(df2["CGPA"],df2["Falling Behind"]);

In [69]:
resultPerception

Falling Behind  Agree  Disagree  Neutral
CGPA
< 3.55             31         3        8
> 3.55             36        10       14

In [70]:
print(chi2_contingency(resultPerception));

(2.685902157543948, 0.26107408045488545, 2, array([[27.58823529,  5.35294118,  9.05882353],
       [39.41176471,  7.64705882, 12.94117647]]))

In [71]:
def toInt(x):
  if x=="None":
    return 0;
  if x=="more than 5":
    return 7;
  else:
    return int(x);

In [72]:
df2['extra-curricular count']=df2['extra-curricular count'].map(toInt);
df2['co-curricular count']=df2['co-curricular count'].map(toInt);

In [73]:
column_names = ['extra-curricular count', 'co-curricular count'];
df2['extra']= df2[column_names].sum(axis=1);

In [74]:
df2['extra']

0      6
1      5
2      3
3      1
4      5
      ..
97     1
98     2
99     6
100    4
101    1
Name: extra, Length: 102, dtype: int64

In [75]:
extraCoPerception=pd.crosstab(df2['extra'],df2['Falling Behind']);

In [76]:
extraCoPerception

Falling Behind  Agree  Disagree  Neutral
extra
0                  17         0        5
1                  12         0        1
2                   9         3        4
3                   6         2        2
4                   7         4        4
5                   4         0        4
6                   6         1        0
7                   0         1        0
8                   2         1        1
9                   3         0        0
10                  1         0        0
11                  0         0        1
14                  0         1        0

In [77]:
print(chi2_contingency(extraCoPerception));

(38.33464317229582, 0.03203129542415313, 24, array([[14.45098039,  2.80392157,  4.74509804],
       [ 8.53921569,  1.65686275,  2.80392157],
       [10.50980392,  2.03921569,  3.45098039],
       [ 6.56862745,  1.2745098 ,  2.15686275],
       [ 9.85294118,  1.91176471,  3.23529412],
       [ 5.25490196,  1.01960784,  1.7254902 ],
       [ 4.59803922,  0.89215686,  1.50980392],
       [ 0.65686275,  0.12745098,  0.21568627],
       [ 2.62745098,  0.50980392,  0.8627451 ],
       [ 1.97058824,  0.38235294,  0.64705882],
       [ 0.65686275,  0.12745098,  0.21568627],
       [ 0.65686275,  0.12745098,  0.21568627],
       [ 0.65686275,  0.12745098,  0.21568627]]))

In [78]:
participationConfidence=pd.crosstab(df2["Event Participation Count"],df2["Falling Behind"]);

In [79]:
participationConfidence

Falling Behind             Agree  Disagree  Neutral
Event Participation Count
1-3                           24         2        8
3-5                            9         4        3
5-7                            7         3        2
7-9                            1         0        0
9-10                           2         1        2
None                          19         1        7
more than 10                   5         2        0

In [80]:
print(chi2_contingency(participationConfidence));

(12.247949003732588, 0.4259776874843975, 12, array([[22.33333333,  4.33333333,  7.33333333],
       [10.50980392,  2.03921569,  3.45098039],
       [ 7.88235294,  1.52941176,  2.58823529],
       [ 0.65686275,  0.12745098,  0.21568627],
       [ 3.28431373,  0.6372549 ,  1.07843137],
       [17.73529412,  3.44117647,  5.82352941],
       [ 4.59803922,  0.89215686,  1.50980392]]))

# Sub Goal 3 4 5

In [81]:
clusteredCommuteTime=pd.crosstab(df2['Commute Time'],df2['CGPA']);
clusteredCommuteTime

CGPA          < 3.55  > 3.55
Commute Time
< 1 hour          30      36
> 1 hour          12      24

In [82]:
print(chi2_contingency(clusteredCommuteTime))

(0.9568632756132758, 0.32797844054739117, 1, array([[27.17647059, 38.82352941],
       [14.82352941, 21.17647059]]))

In [83]:
cgpaclustered_livingPlace=pd.crosstab(df2["Living Place"], df2["CGPA"]);

In [84]:
cgpaclustered_livingPlace

CGPA          < 3.55  > 3.55
Living Place
Hall              13      18
Mess               5       8
With Family       24      34

In [85]:
print(chi2_contingency(cgpaclustered_livingPlace));

(0.04791893312471719, 0.9763252827758557, 2, array([[12.76470588, 18.23529412],
       [ 5.35294118,  7.64705882],
       [23.88235294, 34.11764706]]))

SyntaxError: ignored

In [ ]:
residenceExtraCo=pd.crosstab(df2["Living Place"],df2["extra"]);

In [ ]:
residenceExtraCo

In [ ]:
print(chi2_contingency(residenceExtraCo));

In [ ]:
residenceParticipation=pd.crosstab(df2["Living Place"],df2["Event Participation Count"])

In [ ]:
residenceParticipation

In [ ]:
print(chi2_contingency(residenceParticipation));

In [ ]:
studyTimeresidence=pd.crosstab(df2['Living Place'],df2["Study duration"]);

In [ ]:
studyTimeresidence

In [ ]:
print(chi2_contingency(studyTimeresidence));

# Pearson Correlation Coeffecient

In [102]:
df3=df.copy()

In [103]:
df3["CGPA"]=df3["CGPA"].map({"< 3.00": 3.00,"3.00 - 3.25":3.125,"3.25 - 3.40":3.325,"3.40 - 3.55":3.475,"3.55 - 3.70":3.625,"3.70 - 3.85":3.775,"3.85 - 4.00":3.925})
df3['Commute Time']=df2['Commute Time'].map({'< 1 hour' : 1, '> 1 hour' : 2, });
df3['Falling Behind']=df3['Falling Behind'].map({ "Strongly disagree": -1,"Disagree": -1,"Neutral": 0,"Agree": 1,"Strongly agree": 1});

In [104]:
df3

,Major,Distance,Living Place,Mode of transport,Commute Time,Semester,CGPA,Expected CGPA,Study duration,Target Study duration,...,Target extra/co-curricular time,Event Participation Count,Achievement Count,Missed Classes,Number of Meals,Sleep Duration,Average free time,Longest continuous window of free time,Falling Behind,New things learnt
0,IIT,5km - 7km,With Family,University bus,1,6,3.925,3.85 - 4.00,2 - 3 hours,3 - 4 hours,...,3 - 5 hours,5-7,"Hackathon, gaming, cricket",1-3,2,5 - 6 hours,4-5 hours,1 hour,-1,Patience thakle life e valo kichu ashe
1,Petroleum and Mining Engineering,1km - 3km,With Family,Private Car,1,1,3.775,3.85 - 4.00,2 - 3 hours,5 - 6 hours,...,5 - 7 hours,None,"Gaming,Robotics",1-3,2,5 - 6 hours,2-3 hours,2-3 hours,1,.Learn Something new about coding& Higher Study
2,IIT,1km - 3km,Mess,Rickshaw,1,8,3.625,3.55 - 3.70,less than 1 hour,2 - 3 hours,...,5 - 7 hours,more than 10,None,more than 15,2,7 - 8 hours,1-2 hours,1 hour,-1,Nothing
3,CSE,less than 1km,Mess,Walking,1,1,3.925,3.85 - 4.00,2 - 3 hours,more than 6 hours,...,3 - 5 hours,1-3,AIUB competitive programmer's community,None,2,4 - 5 hours,1-2 hours,3-4 hours,1,Programming
4,IIT,7km - 9km,With Family,University bus,2,8,3.625,3.70 - 3.85,3 - 4 hours,4 - 5 hours,...,5 - 7 hours,more than 10,"Achievement in programming contests, hackathon...",4-6,2,6 - 7 hours,less than 30 minutes,1 hour,1,"Bunch of things, can't specifically remember"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,IIT,less than 1km,Hall,Rickshaw,1,2,3.925,3.85 - 4.00,1 - 2 hours,4 - 5 hours,...,less than 1 hour,1-3,Good Speaker,1-3,3,7 - 8 hours,3-4 hours,2-3 hours,1,Some Basics of programming
98,Architecture,5km - 7km,With Family,University bus,1,7,3.625,3.70 - 3.85,1 - 2 hours,3 - 4 hours,...,less than 1 hour,None,"Blender 3D modeling, Illustration",1-3,3,4 - 5 hours,1-2 hours,1 hour,-1,"Lumion, Maya, Rhino 3D"
99,EEE,1km - 3km,Hall,Walking,1,6,3.925,3.85 - 4.00,2 - 3 hours,4 - 5 hours,...,5 - 7 hours,3-5,None,4-6,3,5 - 6 hours,1-2 hours,less than 30 minutes,1,Nothing
100,IIT,less than 1km,Hall,Walking,1,4,3.925,3.70 - 3.85,1 - 2 hours,2 - 3 hours,...,less than 1 hour,1-3,"Programming competition, Hackathon",1-3,2,4 - 5 hours,less than 30 minutes,1 hour,0,B+ tree
101,IIT,more than 9km,Hall,Walking,1,2,3.475,3.85 - 4.00,more than 5 hours,more than 6 hours,...,1 - 3 hours,1-3,None,1-3,2,7 - 8 hours,1-2 hours,1 hour,1,How to have more patience

In [105]:
clusteredCommuteTime3=pd.crosstab(df3["CGPA"],df3["Commute Time"])

In [106]:
print(chi2_contingency(clusteredCommuteTime3));

(4.1005218126430245, 0.6630750960716225, 6, array([[ 7.11764706,  3.88235294],
       [ 4.52941176,  2.47058824],
       [ 5.82352941,  3.17647059],
       [ 9.70588235,  5.29411765],
       [17.47058824,  9.52941176],
       [11.        ,  6.        ],
       [10.35294118,  5.64705882]]))

In [107]:
corr, _ = pearsonr(df3['Commute Time'],df3['CGPA']);

In [108]:
print(corr);

0.06005327121376583

# Normalized data

In [ ]:
df4=df.copy();

In [ ]:
dfIIT=df4[df4['Major'] == 'IIT'];

In [ ]:
IITcommuteCGPA=pd.crosstab(dfIIT["Commute Time"],dfIIT["CGPA"]);

In [ ]:
IITcommuteCGPA

In [ ]:
dfIIT['CGPA']=dfIIT['CGPA'].map({"< 3.00": "< 3.55","3.00 - 3.25":"< 3.55","3.25 - 3.40":"< 3.55","3.40 - 3.55":"< 3.55","3.55 - 3.70":"> 3.55","3.70 - 3.85":"> 3.55","3.85 - 4.00":"> 3.55"})
dfIIT['Commute Time']=dfIIT['Commute Time'].map({ "less than 1 hour" : "< 1 hour", "less than 2 hours" : "> 1 hour","less than 30 minutes" : "< 1 hour", "more than 2 hours" : "> 1 hour"})

In [ ]:
dfIIT